[Unit]
Description=Gunicorn service
After=network.target

[Service]
User=<your username>
Group=<your group name>
WorkingDirectory=<path to your Django project directory>
ExecStart=<path to your virtual environment>/bin/gunicorn \
          --access-logfile - \
          --workers <number of Gunicorn worker processes to spawn> \
          --bind unix:/run/gunicorn.sock \
          <name of your Django project>.wsgi:application --bind 0.0.0.0:<port number>

[Install]
WantedBy=multi-user.target

