[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory={{ gunicorn_working_directory }}
ExecStart={{ gunicorn_exec_start }}
Restart=always

[Install]
WantedBy=multi-user.target
